
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 20px;
  }
  .input-field{
    width: 100%;
  }

  .mat-mdc-dialog-surface, .mdc-dialog__surface{
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  