<mat-drawer-container class="container" autosize>

  <mat-drawer #drawer class="sidebar" mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content class="sidebar-content">
    <app-toolbar class="toolbar" [drawer]="drawer"></app-toolbar>

    @if(showStudents){
      <student-form></student-form>
      <student-table></student-table>
      <button mat-button class="secondary-btn" (click)="toggleStudents()">Show Courses</button>
    }@else{
      <course-form></course-form>
      <course-table></course-table>
      <button mat-button class="secondary-btn" (click)="toggleStudents()">Show Students</button>
    }

  </mat-drawer-content>

</mat-drawer-container>
